<div class="navBarMenu">
    <div class="navBarMenuLogoSiteNavBar">Monty.gg</div>
    <div class="navBarMenuButtons">
        <button onclick="location.href='/pages/index.html'"
                class="navButton"
                data-nav="index">
            Главная
        </button>
        <button onclick="location.href='/pages/Basket.html'"
                class="navButton"
                data-nav="basket">
            Корзина
        </button>

        <button class="navButton"
                id="profileButton"
                data-nav="profile">
            Профиль
        </button>

        <button onclick="location.href='/pages/index.html'"
                class="miniNavButton"
                data-nav="index">
            <img src="/images/home-9-fill.svg" style="width: 100%; height: 100%;" />
        </button>
        <button onclick="location.href='/pages/Basket.html'"
                class="miniNavButton"
                data-nav="basket">
            <img src="/images/shopping-basket-fill.svg" style="width: 100%; height: 100%;" />
        </button>
        <button onclick="location.href='/pages/Profile.html'"
                class="miniNavButton"
                data-nav="profile">
            <img src="/images/user-fill.svg" style="width: 100%; height: 100%;" />
        </button>
    </div>

    <div class="navBarMenuButtons">
        <button onclick="location.href='/pages/announcements.html'"
                class="navButtonEdit"
                data-nav="announcements">
            <img src="/images/pencil-ai-2-line.svg" alt="Редактировать" />
        </button>
    </div>
</div>
