/* Фон модалки */
.cancel-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(8px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

/* Окно */
.cancel-modal-window {
    background: rgba(20,20,20,0.55);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(14px);
    padding: 25px 35px;
    border-radius: 18px;
    box-shadow: 0 0 22px rgba(0,0,0,0.7);
    animation: modalShow 0.22s ease-out;
    text-align: center;
}

@keyframes modalShow {
    from {
        transform: scale(0.85);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cancel-modal-text {
    color: rgba(255,255,255,0.9);
    font-size: 18px;
    margin-bottom: 20px;
}

/* Контейнер кнопок */
.cancel-modal-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Круглые кнопки */
.modal-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.25);
    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(6px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.25s ease;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.55);
}

.modal-btn img {
    width: 26px;
    height: 26px;
}

/* before-анимация как у fullscreen-btn */
.modal-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(45deg, rgba(255,255,255,0.25), rgba(0,0,0,0.4));
    transform: scale(0);
    transition: transform 0.25s;
    z-index: 0;

}

.modal-btn:hover::before {
    transform: scale(1.12);
}

.modal-btn:hover {
    transform: scale(1.1);
}

/* Красная кнопка "Нет" */
.modal-no {
    border-color: rgba(160,0,0,0.5);
    background: rgba(120,0,0,0.55);
}

.modal-no::before {
    background: linear-gradient(45deg, rgba(255,60,60,0.25), rgba(120,0,0,0.45));
}

/* Зелёная кнопка "Да" */
.modal-yes {
    border-color: rgba(0,150,0,0.5);
    background: rgba(0,80,0,0.55);
}

.modal-yes::before {
    background: linear-gradient(45deg, rgba(60,255,60,0.25), rgba(0,120,0,0.45));
}

.modal-yes:hover {
    background: rgba(0,120,0,0.65);
}
.modal-no:hover {
    background: rgba(180,0,0,0.75);
}
