* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body {
    height: 100%;
    touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    margin: 0;
    overflow-x: hidden;
}





.bg-fixed {
    position: fixed;
    inset: 0; 
    z-index: -1;
	
	background: url('/images/18773486_6033546.jpg');
	font-family: 'Consolas LF', arial;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-wrapper {
    position: relative;
    z-index: 0;
}

body::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.siteInfo{
    user-select: none;
    background: url('/images/18773486_6033546.jpg');
    border: dashed 2px rgb(183, 183, 183);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.253);
    margin-top: 60px;
    width: 100%;
    height: fit-content;
}